<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>12</TotalTime><Application>LibreOffice/25.8.4.2$MacOSX_AARCH64 LibreOffice_project/290daaa01b999472f0c7a3890eb6a550fd74c6df</Application><AppVersion>15.0000</AppVersion></Properties>